body {
	height: 1800px;
	padding-top: 76px;
}
/*.section2 {
	margin-top: 76px;
}*/
/*header*/
.logo {
	float: left;
}
.navigation {
	float: right;
}
.header-wraper::after {
	content: ' ';
	clear: both;
	display: block;
}
li {
	display: inline-block;
	margin-right: 30px;
}
.header-wraper {
	background-color: grey;
	padding: 30px;
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	z-index: 15;
}
.left-block {
	float: left;
	width: 536px;
	background-color: yellow;
}
.right-block {
	float: right;
	width: 536px;
	height: 190px;
	background-color: red;
}
.clear {
	clear: both;
}

/*pseudo elements*/
/*.test1::before {
	content: ' FLOAT';
	color: red;
	background-color: blue;
}*/

.test1::before {
	content: ' \26A1';
}

/*.test1::after {
	content: url('../images/smiley.gif');
}*/
.test1::after {
	content: ' ';
	width: 2px;
	height: 30px;
	background-color: blue;
	display: inline-block;
}

.wraper::after {
	content: ' ';
	clear: both;
	display: block;
}

.image-block {
	float: left;
}
.title-block {
	float: right;
}
.box2::after {
	content: '';
	clear: both;
	display: block;
}

/*position relative & absolute*/
.wraper-box {
	width: 400px;
	height: 400px;
	background-color: blue;
	position: relative;
}
.box1 {
	width: 150px;
	height: 150px;
	background-color: gold;
	position: absolute;
	right: 30px;
	bottom: 80px;
	z-index: 3;
}
.box22 {
	width: 150px;
	height: 150px;
	background-color: black;
	position: absolute;
	top: 80px;
	right: 80px;
	z-index: 2;
}
.box3 {
	width:100px;
	height: 100px;
	background-color: red;
	position: absolute;
	top:50px;
	right: 150px;
	z-index: 4;
}
.box1-test {
	position: absolute;
	bottom: 0;
	right: 0;
}
.wraper2 {
	width: 400px;
	height: 400px;
	background-color: yellow;
	position: relative;
}
.wraper2-box {
	width: 150px;
	height: 150px;
	background-color: aqua;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

/*image example*/
.text-image {
	position: absolute;
	top: 50px;
	right: 0;
	color: red;
}
.image-wraper {
	position: relative;
	width: 800px;
}

/*chat icon*/
.icon-img {
	height: 80px;
}
.chat-icon {
	position: fixed;
	right: 30px;
	bottom: 20px;
}